[submodule "Firmware/pico-ice-sdk"]
	path = Firmware/pico-ice-sdk
	url = https://github.com/tinyvision-ai-inc/pico-ice-sdk
[submodule "Firmware/pico-sdk"]
	path = Firmware/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk
[submodule "Docs/doxygen-awesome-css"]
	path = Docs/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
