set_io -nowarn ICE_2            2
set_io -nowarn ICE_3            3
set_io -nowarn ICE_4            4
set_io -nowarn ICE_6            6
set_io -nowarn ICE_9            9
set_io -nowarn ICE_10           10
set_io -nowarn ICE_11           11
set_io -nowarn ICE_12           12
set_io -nowarn ICE_13           13
set_io -nowarn ICE_14           14
set_io -nowarn ICE_15           15
set_io -nowarn ICE_16           16
set_io -nowarn ICE_17           17
set_io -nowarn ICE_18           18
set_io -nowarn ICE_19           19
set_io -nowarn ICE_20           20
set_io -nowarn ICE_21           21
set_io -nowarn ICE_23           23
set_io -nowarn ICE_25           25
set_io -nowarn ICE_26           26
set_io -nowarn ICE_27           27
set_io -nowarn ICE_28           28
set_io -nowarn ICE_31           31
set_io -nowarn ICE_32           32
set_io -nowarn ICE_34           34
set_io -nowarn ICE_35           35
set_io -nowarn ICE_36           36
set_io -nowarn ICE_37           37
set_io -nowarn ICE_38           38
set_io -nowarn ICE_42           42
set_io -nowarn ICE_43           43
set_io -nowarn ICE_44           44
set_io -nowarn ICE_45           45
set_io -nowarn ICE_46           46
set_io -nowarn ICE_47           47
set_io -nowarn ICE_48           48
set_io -nowarn LED_G            39
set_io -nowarn LED_B            40
set_io -nowarn LED_R            41
